@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.3, 1.3);
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.3, 1.3);
    }
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

.carousel-inner .carousel-item>img {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
    width: 80%;
}

.motto {
    height: 22px;
    background-color: #ecd193;
    text-align: center;
    font-size: .9rem;
    padding: 10px 10px 29px 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: inherit;
}


.nav-link::after {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    background-color: orange;
}

.text-orange {
    color: orange !important;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 18%;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.slide-text {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 68px;
    line-height: 80px;
    letter-spacing: -1px;
    text-shadow: 0px 1px 5px rgb(0 0 0 / 83%);
    text-transform: capitalize;
}

.slide-text-3 {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;

}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    color: transparent;
}

.navbar-toggler {
    color: transparent;
}

.offcanvas-end {
    top: 0;
    left: 0;
    width: 33%;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
}

@media(max-width:995px) {
    .sm-display {
        display: block !important;
    }

    .md-display {
        display: none !important;
    }

    .carousel-item>img {
        height: 75vh;
        background-position: center center;
        background-size: cover;
    }

        .slide-text {
            color: #FFFFFF;
            font-size: 28PX;
            font-weight: bold;
            line-height: 40px;
            letter-spacing: -1px;
            text-shadow: 0px 1px 5px rgb(0 0 0 / 83%);
        }

    .carousel-caption {
        position: absolute;
        right: 0%;
        bottom: 27%;
        left: 0%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

    .slide-text-3 {
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

@media(max-width:512px) {


    .slide-text {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: -1px;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    }

    .slide-text-3 {
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.carousel-caption {
    text-shadow: 0px 1px 5px rgb(65 53 53);
}

.sm-display {
    display: none;
}

.md-display {
    display: block;
}

/* services css */

.my-6{
    margin: 5em 0;
}
.ser1 {
    background-image: url(./images/service.jpg);
    height: 25em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 12px;
    margin-left: 10rem;

}

.serv1 {
    position: relative;
    top: 9rem;
    right: 10px;
    text-align: end;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.serv1>h3 {
    color: burlywood;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
}



.ser2>h3,
.ser3>h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.services>div>img {
    height: 4rem;
    width: 6em;
    border-radius: 8px;
}

.services>div {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
}

.services>div>p {
    margin: 1rem;
    font-size: .8rem;
    font-weight: 800;
}



@media(max-width:992px) {
    .serv1 {
        position: relative;
        top: 9rem;
        right: 10px;
        text-align: center;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    }
}

#reviews>h1{
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
}
.card-img-top {
    width: 42px;
    height: 42px;
    margin: auto;
}
.card-text{
    font-size: 0.9rem;
}
a.whatsapp {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    height: 50px;
    width: 50px;
}




footer {
    min-height: 23rem;
    width: 100%;
    background-color: #ecd193;
    padding-top: 2rem;
    padding-bottom: 21px;
}

.footer {

}

.footer>div>small {
    letter-spacing: 1px;
}